@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

// General Settings

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #202020;
    background-color: #fafafa;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
}

// Variables

$generic-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px 1px, rgba(0,0,0,0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$secondary-color: #fefcbf;
$primary-color: #fbd38d;
$mobile-width: 576px;

// Animations & Transitions
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }

@keyframes fadeInDarken {
    0% {
        background-color: darken($primary-color, 0%);
    }

    100% {
        background-color: darken($primary-color, 10%);
    }
}

// Mixins

@mixin box-overlay() {
    box-shadow: $generic-box-shadow;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 85px;
    border-radius: 3px;
}

@mixin va($va-align: center) {
    display: flex;
    align-items: center;

    @if $va-align != center {
        justify-content: left;
    } else {
        justify-content: center;
    }
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  @mixin btn($width) {
    width: $width;
    background-color: $primary-color;
    color: #333 !important;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 17px;
    padding: 12px 16px 12px 16px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px !important;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
  }
  
  @mixin cancel() {
    color: #555;
    cursor: pointer;
    font-size: 14px;
    margin: 2px 5px;
  }
  
  @mixin transparent-button() {
    background-color: transparent;
    border: 0;
  }


@mixin task-item() {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 10px;
    cursor: pointer;
  
    &:hover {
      background-color: #f9f9f9;
    }
  }
  
  @mixin mq($from) {
    @media (max-width: $from) {
        @content;
    } 
  }

  @mixin mobile() {
    @media (max-width: $mobile-width) {
        @content;
    }  
    }

  /* Darkmode
  ============================================ */
.darkmode {
    header {
      -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
      background-color: #282828;
      border-color: transparent;
    }
  }


  /* Main */
  main {
      display: flex;
      align-items: center;
      justify-content: center;

      @include mq('900px') {
          flex-direction: column;

          .contactForm {
            padding: 5rem;
          } 

          .example {
              width: 100vw;
              padding: 5rem;
          }
      }
  }

  /* Utilities
  ================================== */

  .hidden {
      display: none;
      left: 45rem;
  }

  .hint {
      color: #777;
      font-size: 12px;
  }

  .flex-1 {
      flex: 1;
  }

  .text-center {
      text-align: center;
  }

/* Index
============================= */

  .example {
      background-color: $secondary-color;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile() {
          padding: 2rem 1rem;

          div.example__deviceContainer {
            zoom: 0.8;
            -moz-transform: scale(0.8);
        }
      }
  }

  .contactForm {
      h1 {
          background-color: $primary-color;
          padding: 1.5rem 2.5rem;
          display: inline-block;
          font-size: 2.25rem;
          font-weight: 700;
      }

      h2 {
          font-size: 1.5rem;
          font-weight: 500;
      }

      button {
          @include btn('90px');

          &:hover {
              animation-name: fadeInDarken;
              animation-iteration-count: 1;
              animation-timing-function: ease-in;
                animation-duration: 0.3s;
              background-color: darken($primary-color, 10%);
          }
      }

      input {
          border: 1px solid rgb(113,128,150);
          font-size: 1.2rem;
          line-height: 1.2rem;
          padding: 1.5rem;
          width: 18rem;
      }

      @include mobile() {
        h1 {
            font-size: 1.5rem;
        }

        h2 { 
            font-size: 1.2rem;
        }

        input {
            font-size: 1rem;
            line-height: 1rem;
            padding: 1.2rem;
            width: 18rem;
            margin-top: 1.2rem;
        }
    }

  }


  /* pageLayout

==================================== */

header {
    background-color: $primary-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400;
    height: 64px;
    transition: height 200ms ease-in;
    -webkit-transition: height 200ms ease-in;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    font-family: Avenir, Tahoma, sans-serif;
    font-weight: 400;
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        max-width: 922px;
        margin: auto;
        height:44px;

        p, li {
            color: black;
        }
        div {
            &.logo {
                grid-area: 1/1;
                font-family: Gotham, sans-serif;
                @include mobile() {
                    padding: 0rem 1rem 0rem 1rem;
                }
                h1{
                    a{
                        text-decoration: none;
                        color: #333;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.navigation {
                grid-area: 1/2;
                text-align: right;
                
                ul {
                    float: right;
                }

                ul li {
                    @include va;
                    list-style-type: none;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Main Content
  ============================================ */
  .content {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: 1fr auto;
    max-width: 922px;
    margin: auto;
    height: calc(100vh);
    padding-top: 74px;
    color: #333;

    h1,h2,h3,h4,h5,h6 {
        font-weight: 300;
    }

    @include mobile() {
        padding: 74px 1rem 1rem 1rem;
    }
  }